.search_results{
    position: absolute;
    top: 65px;
    z-index: 999;
    background:#fff;
    padding:15px;
    box-shadow: 0px 3px 5px #ccc;
}
.two_x{
    font-size: 20px;
}
.two_x:hover{
    cursor:pointer;
}
.font_16{
    font-size: 16px !important;
    font-weight: bolder !important;
}